.footer-widget {
	margin: 0 auto; /* Centra el contenido si es necesario */
}

.footer-title {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
}

.footer-links {
	text-align: center;
}

.social-media-list {
	list-style: none;
	padding: 0;
	margin-top: 39px;
	display: flex;
	justify-content: center; /* Centra los elementos horizontalmente */
	gap: 15px; /* Espaciado entre enlaces */
}

.social-media-list li {
	display: inline; /* Asegura que los elementos sean en línea */
}

.social-media-list a {
	text-decoration: none;
	color: #000; /* Cambia al color deseado */
	font-weight: bold; /* Opcional, para destacar los enlaces */
}

.social-media-list a:hover {
	color: #007bff; /* Cambia al color deseado cuando el mouse pase encima */
}

.single-line-text {
	white-space: nowrap; /* Evita el salto de línea */
	text-align: center; /* Centra el texto horizontalmente */
	display: inline-block; /* Opcional: mantiene el ancho mínimo necesario */
	margin: 0 auto; /* Centra en caso de que tenga un contenedor más grande */
}

.powered-by {
    display: inline-flex; /* Asegura que el texto y la imagen estén en línea */
    align-items: center; /* Centra verticalmente la imagen con el texto */
    gap: 5px; /* Espaciado entre el texto y la imagen */
}

.powered-by img {
    width: 90px;/* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene las proporciones */
    vertical-align: middle; /* Asegura la alineación con el texto */
}


